<header>
  <div id="header">
    <div class="menu">
      <% if Painting.where('users_id = ?', session[:user_id]).count > 0 %>
        <%= link_to "History", "/history/1", :method => 'get', class:"link"%>
      <% end %>
    </div>
    <div class="account">
      <%= link_to "Home", "home", :method => 'get', class:"link"%>
      <%= link_to "Log Out", "logout", :method => 'delete', class:"link"%>
    </div>
  </div>
</header>

<body>
  <div id="canevas">
    <canvas id="monCanvas" width="800" height="800">
    Votre navigateur ne supporte pas l'élément &lt;canvas&gt; .
    </canvas>
  </div>

  <div id="container">
    <div class="greetings">
      <center>
        <h2>Hello <%= session[:username] %>!</h2>
        <p>You have already rated <%= Painting.where('users_id = ?', session[:user_id]).count %> paintings!</p>
      </center>
    </div>
    <div class="form">
      <center>
        <div class="rating">
          <h1>Rate the painting</h1>
            <%= form_for @painting, :remote=>true do |p|%>
              <p>
                <%= p.label "Rate" %>
                <%= p.number_field :mark, in: 1..5, step: 1 %>
              </p>
              <p>
                <%= p.hidden_field :JsonData, :id => "hiddenData", :value => "" %>
                <%= p.submit "Rate", class: "btn-submit" %>
              </p>
            <% end %>
        </div>
      </center>
    </div>
    <script>
      var nbRect = <%= @nbRectBlack %>;
      var nbRectWhite = <%= @nbRectWhite %>;
      var progressif = <%= @progressif %>;
      tableauJSON = genererTableau();
      $(document).ready(function(){
        document.getElementById("hiddenData").value = tableauJSON;
      })
    </script>
  </div>
</body>
