<header>
  <div id="header">
    <div class="menu">
      <% if user_signed_in? %>
      <%= link_to "Home", "/home", :method => 'get', class:"link"%>
        <% if tableaux_notes > 0 %>
          <%= link_to "History", "/history/1", :method => 'get', class:"link"%>
        <% end %>
    </div>

    <div class="admin">
      <% if is_admin %>
      <!--  <%= link_to "Users", "users", :method => 'get', class:"link"%>-->
        <%= link_to "Parameters", "parameters", :method => 'get', class:"link"%>
      <% end %>
    </div>

    <div class="account">
    <!--  <%= link_to "Account", "account", :method => 'get', class:"link"%>-->
      <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
    </div>

    <%end%>
    </div>
  </div>
</header>
